<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tree</title>
</head>
<body>

<div th:each="file : ${files}">
    <a th:if="${file.endsWith('/')}"
       th:href="@{/tree/{path}(path=${file})}"
       th:text="${file}">
    </a>
    <a th:unless="${file.endsWith('/')}"
       th:text="${file}">
    </a>
    <form th:action="@{/delete/{object}(object=${file})}" th:method="DELETE">
        <input type="submit" value="Удалить">
    </form>
</div>

<form method="post" enctype="multipart/form-data" th:action="@{/upload{url}(url=${currentUrl})}">
    <label for="files">Files to upload: </label>
    <input type="file" multiple name="files" id="files">
    <br/>
    <input type="submit" value="Upload">
</form>

<form method="post" enctype="multipart/form-data" th:action="@{/upload{url}(url=${currentUrl})}">
    <label for="directories">Directories to upload: </label>
    <input type="file" multiple webkitdirectory name="files" id="directories">
    <br/>
    <input type="submit" value="Upload">
</form>

<form method="post" enctype="multipart/form-data" th:action="@{/upload{url}(url=${currentUrl})}">
    <label for="folder">New folder: </label>
    <input type="text" id="folder" name="folderName"/>
    <br/>
    <input type="submit" value="New folder">
</form>

</body>
</html>