<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tree</title>
</head>
<body>

<a th:unless="${currentUrl.equals('')}" th:text=".."
   th:href="@{/tree/{goUp}(goUp=${parentFolder})}">
</a>

<div th:each="file : ${files}">
    <div th:if="${file.endsWith('/')}" >
        <a th:href="@{/tree/{path}(path=${file})}"
           th:text="${file.replaceAll('.*/([^/]+/)$', '$1')}">
        </a>
        <form th:action="@{/rename/{object}(object=${file})}" th:method="POST">
            <input type="text" name="newName">
            <input type="submit" value="Переименовать">
        </form>
    </div>
    <div th:unless="${file.endsWith('/')}">
        <a th:href="@{/download/{path}(path=${file})}"
           th:text="${file.replaceAll('[^/]+/', '')}">
        </a>
        <form th:action="@{/rename/{object}(object=${file})}" th:method="POST">
            <input type="text" name="newName">
            <input type="submit" value="Переименовать">
        </form>
    </div>
    <form th:action="@{/delete/{object}(object=${file})}" th:method="DELETE">
        <input type="submit" value="Удалить">
    </form>
</div>

<br/>

<form method="post" enctype="multipart/form-data" th:action="@{/upload/{url}(url=${currentUrl})}">
    <label for="files">Files to upload: </label>
    <input type="file" multiple name="files" id="files">
    <br/>
    <input type="submit" value="Upload">
</form>

<form method="post" enctype="multipart/form-data" th:action="@{/upload/{url}(url=${currentUrl})}">
    <label for="directories">Directories to upload: </label>
    <input type="file" multiple webkitdirectory name="files" id="directories">
    <br/>
    <input type="submit" value="Upload">
</form>

<form method="post" enctype="multipart/form-data" th:action="@{/upload/{url}(url=${currentUrl})}">
    <label for="folder">New folder: </label>
    <input type="text" id="folder" name="folderName"/>
    <br/>
    <input type="submit" value="New folder">
</form>

</body>
</html>